:root {
    --bs-blue: #747DEF;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #DF6951;
    --bs-orange: #019c54;
    --bs-yellow: #019c54;
    --bs-green: #79B93C;
    --bs-teal: #006380;
    --bs-cyan: #2ff1c7;
    --bs-white: #FFFEFE;
    --bs-gray: #F0F4F9;
    --bs-gray-dark: #616161;
    --bs-primary: #00a581;
    --bs-secondary: #5E6282;
    --bs-success: #79B93C;
    --bs-info: #006380;
    --bs-warning: rgb(165, 113, 0);
    --bs-danger: #a12108;
    --bs-light: #F0F4F9;
    --bs-dark: #212832;
    --bs-font-sans-serif: "Poppins", "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
    --border-radius: 8px;
    --border-radius-1: 8px;
}

.hero{
    background-image: url("/images/back1.webp");
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%;
    padding-top: 100px;
}


.hero-title{
    font-size: 28px;
    color: #019c54;
    font-weight: bold;
}

.hero-para{
    font-size: 35px;
    color: #082253d8;
    font-weight: bold;
}

.btn-search{
    background-color: var(--bs-red);
    transition: all 0.3s ease;
}

.btn-search:hover{
    background-color: #198754;
    color: #fff;
    transform: scale(1.05);
}

.carte-search{
    width: 165%;
    background: #fff;
    margin: 0 auto;
}

.search-text{
    color: #019c54;
    font-size: 18px;
    font-weight: 500;
}

.search-group{
    background-color: rgb(243, 224, 243);
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.icon-echange{
    width: 50px;
    height: 40px;
    background: rgba(25, 135, 84, 0.8); /* vert translucide */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


@media(max-width: 960px){
    .carte-search{
        max-width: 360px;
    }
}