:root {
    --bs-blue: #747DEF;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #DF6951;
    --bs-orange: #019c54;
    --bs-yellow: #019c54;
    --bs-green: #79B93C;
    --bs-teal: #006380;
    --bs-cyan: #2ff1c7;
    --bs-white: #FFFEFE;
    --bs-gray: #F0F4F9;
    --bs-gray-dark: #616161;
    --bs-primary: #00a581;
    --bs-secondary: #5E6282;
    --bs-success: #79B93C;
    --bs-info: #006380;
    --bs-warning: rgb(165, 113, 0);
    --bs-danger: #a12108;
    --bs-light: #F0F4F9;
    --bs-dark: #212832;
    --bs-font-sans-serif: "Poppins", "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
    --border-radius: 8px;
    --border-radius-1: 8px;
}


.method-billet{
    margin-left: 60px;
    margin-top: 400px;
}

.methodPara{
    color: var(--bs-gray-dark);
    font-size: 18px;
}

.method-icon1{
    width: 60px;
    height: 50px;
    background: var(--bs-red); /* vert translucide */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.method-icon2{
    width: 80px;
    height: 50px;
    background: var(--bs-red); /* vert translucide */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.method-icon3{
    width: 80px;
    height: 50px;
    background: var(--bs-red); /* vert translucide */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.imageBillet{
    margin-top: 300px;
}

.learnBillet{
    margin-top: 80px;
    margin-bottom: 10px;
}

@media(max-width: 960px){

    .learnBillet{
    margin-top: 1000px;
    }
    .method-billet{
        margin-left: 30px;
        margin-top: 80px;
    }

    .imageBillet{
        margin-top: 600px;
    }

    .method-icon1{
        width: 100px;
    }

    .method-icon2{
        width: 180px;
    }

    .method-icon3{
        width: 180px;
    }
}
