:root {
    --bs-blue: #747DEF;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #DF6951;
    --bs-orange: #019c54;
    --bs-yellow: #019c54;
    --bs-green: #79B93C;
    --bs-teal: #006380;
    --bs-cyan: #2ff1c7;
    --bs-white: #FFFEFE;
    --bs-gray: #F0F4F9;
    --bs-gray-dark: #616161;
    --bs-primary: #00a581;
    --bs-secondary: #5E6282;
    --bs-success: #79B93C;
    --bs-info: #006380;
    --bs-warning: rgb(165, 113, 0);
    --bs-danger: #a12108;
    --bs-light: #F0F4F9;
    --bs-dark: #212832;
    --bs-font-sans-serif: "Poppins", "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
    --border-radius: 8px;
    --border-radius-1: 8px;
}


.logo{
    width: 90px;
}

.logo-text{
    font-weight: bold;
    font-size: 25px;
    color: var( --bs-orange);
}


.glass-morphisme{
    background: rgba(255, 255, 255, 0.2); /* blanc semi-transparent */
    backdrop-filter: blur(10px);          /* flou de fond */
    -webkit-backdrop-filter: blur(10px);  /* support Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* légère ombre */
    border: 1px solid rgba(255, 255, 255, 0.3); /* bord léger */
    width: 100%;
    z-index: 1000;
}

.other-link{
   font-size: 20px;
   transition: all .5s ease;
   color: var(--bs-secondary);
}

.other-link:hover{
    color:var(--bs-yellow) ;
}


.bouton-navbar {
    margin-right: 10px;
    text-decoration: none;
    color:#082253d8;
    font-weight: 600;
    background-color: #00a581;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.bouton-navbar:hover {
  background-color: #198754;
  color: #fff;
  transform: scale(1.05);
}
