:root {
    --bs-blue: #747DEF;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #DF6951;
    --bs-orange: #019c54;
    --bs-yellow: #019c54;
    --bs-green: #79B93C;
    --bs-teal: #006380;
    --bs-cyan: #2ff1c7;
    --bs-white: #FFFEFE;
    --bs-gray: #F0F4F9;
    --bs-gray-dark: #616161;
    --bs-primary: #00a581;
    --bs-secondary: #5E6282;
    --bs-success: #79B93C;
    --bs-info: #006380;
    --bs-warning: rgb(165, 113, 0);
    --bs-danger: #a12108;
    --bs-light: #F0F4F9;
    --bs-dark: #212832;
    --bs-font-sans-serif: "Poppins", "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
    --border-radius: 8px;
    --border-radius-1: 8px;
}



.servicePar{
    color: var(--bs-secondary);
    font-size: 18px;
    font-weight: 400;
}

.image-bus{
    height: 100px;
}

.service-Why{
    color: var(--bs-red);
}
