:root {
    --bs-blue: #747DEF;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #DF6951;
    --bs-orange: #019c54;
    --bs-yellow: #019c54;
    --bs-green: #79B93C;
    --bs-teal: #006380;
    --bs-cyan: #2ff1c7;
    --bs-white: #FFFEFE;
    --bs-gray: #F0F4F9;
    --bs-gray-dark: #616161;
    --bs-primary: #00a581;
    --bs-secondary: #5E6282;
    --bs-success: #79B93C;
    --bs-info: #006380;
    --bs-warning: rgb(165, 113, 0);
    --bs-danger: #a12108;
    --bs-light: #F0F4F9;
    --bs-dark: #212832;
    --bs-font-sans-serif: "Poppins", "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
    --border-radius: 8px;
    --border-radius-1: 8px;
}

.login{
    margin-top: 100px;
}


.register{
    background-image: url("/images/banner-rose.webp");
    height: 100vh;
    width: 100%;
}

.register-container {
  height: 100vh;
}

.register-card {
  animation: fadeInUp 0.8s ease;
}

.input-group-text {
  border: none;
}

.form-control, .form-select {
  border-left: none;
}

.btn-success {
  transition: 0.3s ease;
}

.btn-success:hover {
  background-color: #157347;
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}

@media(max-width: 962px){
    .register-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
    }

    .register-card{
        margin-top: 100px;
    }

    .register{
        height: 190vh;
        width: 100%;
    }
}
